/* .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
}

.header {
    margin-top: 20vh;
    margin-bottom: 4vh;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-paper {
    display: flex;
    width: 100vw;
    max-width: 40vw; 
    padding: 6vh;
    border-radius: 5px;
    border: 1px solid #ced4da;
    height: 100vh; 
    overflow: auto; 
}

.order-list-item {
    margin-bottom: 20px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.left-info {
    flex: 1; 
    padding-right: 20px; 
}

.right-info {
    flex: 1; 
}

.bottom-info {
        flex: 1; 
        justify-content: flex-end;
        align-items: flex-end; 

}
.order-buttons {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10vh; 
    bottom: 0;
}

.order-buttons button {
    margin-left: 0.2vw; 
}




  */