.LocationComponent {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.Error {
    color: red;
    font-weight: bold;

}

.LocationInfo {
    margin-top: 10px;
}